@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
  font-family: "akira";
  src: url("assets/Akira\ Expanded.otf");
}

text {
  user-select: none;
}

body, html {
  height: 100%;
  overflow: hidden;
}

canvas {
  position: fixed;
  top: 0;
  right: 0;
  overflow: hidden;
}

p {
  margin: 5px;
}

.loadText {

  text-align: end;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "akira";
}

.loadProgress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.nameContainer {
  height: 100%;
  left: 0;
  position: fixed;
}


.nameText{
  transform: rotate(180deg);

  user-select: none;
  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "akira";
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
