@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

@font-face {
  font-family: "akira";
  src: url("assets/Akira\ Expanded.otf");
}

canvas {
  position: fixed;
  top: 0;
  right: 0;
}

p {
  margin: 5px;
}

.nameContainer {
  height: 100%;
  left: 0;
  position: fixed;
}

.nameText{
  transform: rotate(180deg);

  writing-mode: vertical-rl;
  text-orientation: sideways;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: "akira";
}

body {
  background-color: #000;
}
